/* VARIABLES Y RESET */
:root {
    --nav-color: #336E7B;
    --primary-bg: #336E7B;
    --secondary-bg: #eaeaea;
    --third-color: #818080;
    --light-bg: #61BACE;
    --white: #fff;
    --overlay: rgba(0, 0, 0, .7);

    /* TITULOS DE SECCION */
    --icon-color: var(--light-bg);
    --title-color: #244F58;

    /* GRADIENTE DEL BOTON */
    --gradient: linear-gradient(to right, var(--light-bg) 0%, var(--primary-bg) 100%);
    
    /* TAMAÑOS ABSOLUTOS */
    --container-width: 1068px;
    --banner-width: 700px;

    /* FOOTER ICONOS */
    --icon-foot: #244F58;
    --icon-bg: var(--secondary-bg);

    /* FUENTE PRINCIPAL */
    --main-font: 'Raleway', sans-serif;

    /* PESO DE LA FUENTE */
    --regular-weight: 400; 
    --medium-weight: 500;
    --semibold-weight: 600;
    --bold-weight: 700;

    /* COLORES Y TAMAÑOS DE LOS CARDS */
    --card-text: #4D5057;
    --btn-outline: #61BACE;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: 'Raleway', sans-serif;
	font-family: var(--main-font);
}
p, figure, ul, li, a, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
input, textarea {
	width: 100%;
	height: 100%;
}
/* REUTILIZABLES */
.container {
    width: 100%;
    max-width: 1068px;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 1rem;
}
.btn {
    font-size: 1em;
    font-weight: 600;
    font-weight: var(--semibold-weight);
    padding: 1em 3em;
    color: #fff;
    color: var(--white);
    border-radius: 24px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: box-shadow .3s
}
.btn:hover {
        box-shadow: 0 2px 8px rgba(21, 34, 36, 0.6);
    }
.btn:active {
        -webkit-transform: scale(.95);
                transform: scale(.95);
        box-shadow: none;
    }
/* BARRA DE NAVEGACIÓN */
.navbar {
    display: flex;
    justify-content: space-between;
    background: #336E7B;
    background: var(--nav-color);
    font-size: 16px
}
.navbar .navbar-logo a img {
        vertical-align: top;
    }
.navbar .navbar-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.navbar .navbar-list {
        display: flex;
    }
.navbar .navbar-item {
        margin-left: 3.5em;
        position: relative
    }
.navbar .navbar-item:first-child {
            margin-left: 0;
        }
.navbar .navbar-item:before {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            left: -1.3em;
            top: 50%;
            margin-top: -5px;
            border-radius: 50%;
            -webkit-transform: scale(0);
                    transform: scale(0);
            transition: -webkit-transform .3s;
            transition: transform .3s;
            transition: transform .3s, -webkit-transform .3s;
        }
.navbar .navbar-item:hover:before {
            -webkit-transform: scale(1);
                    transform: scale(1);
            background: #fff;
            background: var(--white);
        }
.navbar .navbar-link {
        color: #fff;
        color: var(--white);
        font-size: 1.2em;
        font-weight: 500;
        font-weight: var(--medium-weight);
    }
/* SIMON DICE */
h1 {
    color: #61BACE;
    color: var(--light-bg);
}
.gameboard-container {
    height: calc(100vh - 92px);
    display: flex;
    align-items: center;
    position: relative;
    background: #61BACE;
    background: var(--light-bg);
    position: relative;
}
.gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
}
.color {
    width: 50%;
    height: 50%;
    display: inline-block;
    cursor: pointer;
}
.left {
    float: left;
}
.right {
    float: left;
}
.azul {
    background: #2257b3;
}
.azul.light {
    background: #689fff;
}
.rojo {
    background: #b91d1d;
}
.rojo.light {
    background: #ff7171;
}
.naranja {
    background: #f0932b;
}
.naranja.light {
    background: #ffbe76;
}
.verde {
    background: #6ab04c;
}
.verde.light {
    background: #badc58;
}
.hide {
    display: none;
}
.btn-start {
    cursor: pointer;
    width: 420px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    border: none;
    border-bottom: 4px solid #c4c6c7;
    border-radius: 8px;
    font-size: 3em;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 210px);
    transition: .4s;
    outline: none;
}
.btn-start:hover {
    color: #fff;
    color: var(--white);
    background: #336E7B;
    background: var(--primary-bg);
    border-bottom: 4px solid #25505A;
}
.btn-start:active {
    -webkit-transform: scale(.95);
            transform: scale(.95);
}
.gameboard-puntuacion {
    position: absolute;
    right: 10%;
    color: #fff;
    color: var(--white)
}
.gameboard-puntuacion .puntaje {
        display: flex;
        align-items: center
    }
.gameboard-puntuacion .puntaje h2 {
            padding: .5em 0;
            padding-right: 1em;
        }
.gameboard-puntuacion .lista-puntaje {
        height: 250px;
        padding: .5em 0
    }
.gameboard-puntuacion .lista-puntaje h2 {
            padding-bottom: 1em;
        }
.gameboard-puntuacion .lista-puntaje #timeList {
            height: 100%;
            overflow: auto;
            padding-right: 1em
        }
.gameboard-puntuacion .lista-puntaje #timeList::-webkit-scrollbar {
                width: 12px;
            }
.gameboard-puntuacion .lista-puntaje #timeList {
            
            /* Track */
        }
.gameboard-puntuacion .lista-puntaje #timeList::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
            }
.gameboard-puntuacion .lista-puntaje #timeList {
            
            /* Handle */
        }
.gameboard-puntuacion .lista-puntaje #timeList::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: #336E7B;
                background: var(--primary-bg); 
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            }
.gameboard-puntuacion .lista-puntaje #timeList::-webkit-scrollbar-thumb:window-inactive {
                background: rgba(255,0,0,0.4); 
            }
.gameboard-puntuacion .lista-puntaje .lista-puntaje-item {
            padding: 1em;
            border: 2px solid #ccc;
            margin-bottom: .5em;
        }