/* VARIABLES Y RESET */
@import './index.pcss';

/* REUTILIZABLES */
@import './utilities.pcss';

/* BARRA DE NAVEGACIÓN */
@import './components/navbar.pcss';

/* HEADER */
@import './components/header.pcss';

/* PRINCIPAL CONTENT */
@import './components/home-hero.pcss';

/* ULTIMAS NOTICIAS */
@import './components/news.pcss';

/* SUSCRIPCION */
@import './components/newsletter.pcss';

/* FOOTER */
@import './components/footer.pcss';