/* VARIABLES Y RESET */
@import './index.pcss';

/* REUTILIZABLES */
@import './utilities.pcss';

/* BARRA DE NAVEGACIÓN */
@import './components/navbar.pcss';

/* HEADER */
@import './components/header.pcss';

/* FOOTER */
@import './components/footer.pcss';

.title {
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--semibold-weight);
}

.hero-wrap {
    margin: 6em 0;
}

.btn {
    text-transform: uppercase;
    background: var(--light-bg);
    border-radius: 4px !important;
    margin-right: 2.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    max-width: 250px;
    display: inline-block;
    text-align: center;
}